html,body {
	height: 100%;
}

#left-panel {
	height: 100%;
  background: #4D394B;
	color: #ffffff;
}

.left-panel {
	padding-top: 10px;
	padding-bottom: 20px;
}

.no-border {
  border:none;
}

.modal-header, .modal-footer {
	margin: auto;
}

